name: CI
on:
  push:
  pull_request:

jobs:
  BDDTDDKata:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 21
          check-latest: true
      - run: ( ./mvnw clean install )
